---
import Container from '../components/basics/Container.astro';

import crypto, { getRandomValues } from 'crypto';
const md5 = (contents: string) => crypto.createHash('md5').update(contents).digest('hex');

type Social = {
    name: string;
    slug: string;
    url: string;
    weight: number;
};

export interface Props {
    gravatar?: {
        id: string;
    };
    avatarUrl?: string;
    author: string;
    descriptions: Array<string>;
    socials: Array<Social>;
}

const props = Astro.props;

const authorImageSrc =
    props.avatarUrl && props.gravatar
        ? props.avatarUrl
        : props.gravatar
        ? `https://www.gravatar.com/avatar/${md5(props.gravatar.id)}?s=240&d=mp`
        : '';
---

<section id="home" class="flex w-full items-center justify-center text-center">
    <Container>
        <div class="m-4">
            <img class="inline w-32 rounded-full sm:w-52" src={authorImageSrc} alt="gravatar" />
        </div>

        <h1 class="m-4 text-3xl font-semibold md:text-3xl">
            {props.author}
        </h1>

        <h2 class="m-4 text-xl font-semibold md:text-2xl">
            {
                props.descriptions.map((description) => (
                    <>
                        {description}
                        <br />
                    </>
                ))
            }
        </h2>

        <div class="flex justify-center">
            {
                props.socials
                    .sort((social) => social.weight)
                    .map((social) => (
                        <div class="m-4 box-content h-8 w-8">
                            <a href={social.url} aria-label={social.name} target="_blank">
                                <img
                                    src={`https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/${social.slug}.svg`}
                                    alt={social.slug}
                                />
                            </a>
                        </div>
                    ))
            }
        </div>
    </Container>
</section>
